extends layout

block content 
  h2 Categories
    ul
      each category in categories
        li 
          a(href=category.url)= category.type

  a(href="/store/category/create") Create a new category