extends layout

block content
    .header 
        h1.title= title
    form(method='POST')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='category_type', value=(category ? category.type : ''))
        .button-group 
            button.button.submit(type='submit') Submit
            a.button.cancel(href='/store/categories') Cancel

    if errors
        ul
            for error in errors
                li!= error.msg