extends layout

block content
    .header 
        h1.title= title
    form(method='POST', enctype='multipart/form-data')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='item_name', value=(item === undefined ? '' : item.item_name))
        div.form-group
            label(for='description') Description:
            input#description.form-control(type='text', name='description', value=(item === undefined ? '' : item.description))
        div.form-group
            label(for='imageURL') Image: 
            input#imageURL.form-control(type='file', name='image')
        div.form-group
            label(for='price') Price:
            input#price.form-control(type='number', name='price', value=(item === undefined ? '' : item.price))
        div.form-group
            label(for='stock_in_hand') Stock in Hand:
            input#stock-in-hand.form-control(type='number', name='stock_in_hand', value=(item === undefined ? '' : item.stock_in_hand))
        div.form-group
            label(for='category') Category:
            select#category.form-control(name='category')
                if !item
                    option(value="", selected=(!item)) Select Category
                each category in categories
                    option(value=category._id, selected=(item && item.category && item.category._id.toString() === category._id.toString()))= category.type        
        .button-group 
            button.button.submit(type='submit') Submit
            if item
                a.button.cancel(href=`${item.url}`) Cancel
            else
                a.button.cancel(href='/store/items') Cancel
