extends layout

block content 
    .header
        h2.title= title
    form(method='POST')
        input(type='hidden',name='id', value=item._id )
        label(for='stock') Stock:
        input#stock(type='number',name='stock_in_hand', value=item.stock_in_hand)
        .button-group
            a.button.cancel(href=item.url) Cancel
            button.button.submit(type='submit') Change Stock