* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.navbar {
  background-color: #333;
  padding: 1em 2em;
}

.navbar-nav {
  display: flex;
  justify-content: start;
  gap: 1em;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.container {
  height: 100%;
}

.title {
  background-color: #f4f4f4;
  font-size: 2em;
}

.intro {
  padding: 1em 2em;
}

.intro h2 {
  font-size: 1.7em;
}

.intro p {
  font-size: 1.5em;
}

.featured {
  padding: 1em 2em;
}

.featured h2 {
  font-size: 1.7em;
}

img {
  width: 100%;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1em;
  list-style: none;
}

.item {
  display: grid;
  gap: 1em;
  background-color: #f4f4f4;
  padding: 1em;
}

.featured h3 {
  font-size: 1.5em;
}

.featured p {
  font-size: 1.5em;
}

.button {
  width: 50%;
  display: inline-block;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.category-list {
  padding: 1em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1em;
  list-style: none;
}

.category {
  background-color: #f4f4f4;
  padding: 2em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-name {
  font-size: 1.3em;
}

.category-buttons {
  width: 50%;
  display: inline-flex;
  justify-content: flex-end;
  gap: 1em;
}

.category h3 {
  font-size: 1.5em;
}

.view {
  background: #4e9caf;
}

.update {
  background: #ffcc00;
}

.delete {
  background: #ff6666;
}

.create {
  width: 100%;
  margin: 2em 0em;
  padding: 3em 0em;
  display: flex;
}

.create a {
  margin: 0 auto;
  width: 30%;
}

.item-name {
  font-size: 1.3em;
}

.item-description {
  font-size: 1.1em;
}

.item-price {
  text-align: right;
  font-size: 1.05em;
}

.header {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-delete {
  background: #ff6666;
  width: fit-content;
}

.category-item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  list-style: none;
}
